{{ define "head_element" }}
  {{ partial "head/_head.html" . }}
{{ end }}

{{ define "header" }}
  {{ partial "body/_header.html" . }}
{{ end }}

{{ define "main" }}
  {{/* PAGE HEADER */}}

  {{- partial "body/_page_header.html" (dict
    "ctx" .
    "title" .Title
    "domain" "loading…"
    "date" "loading…"
  ) -}}

  {{/* TABLE HEADER */}}

  <div id="tmpl-single">

    <div class="grid lg:grid-cols-4 md:grid-cols-1 gap-4 mx-auto max-w-7xl">

      <div class="lg:col-span-4 md:col-span-1 bg-white dark:bg-[#171e21] shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
        <div class="px-4 py-5 sm:p-6 mt-0 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle px-4 sm:px-6 lg:px-8">

              <form method="get" action="/scan">

                <div>
                  <label for="url" class="block text-lg/6 md:text-sm/6 font-medium text-gray-900 dark:text-gray-100">Scan a new domain name</label>
                  <div class="mt-2 flex">
                    <div class="-mr-px grid grow grid-cols-1 focus-within:relative">
                      <input type="text" name="url" id="url" class="col-start-1 row-start-1 block w-full rounded-l-md bg-white dark:bg-black py-1.5 pr-3 pl-10 text-base text-gray-900 dark:text-gray-100 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:pl-9 sm:text-lg/6" placeholder="example.com">
                      {{ partial "heroicons/solid/at-symbol.svg" (dict "class" "pointer-events-none col-start-1 row-start-1 ml-3 size-5 self-center text-gray-400 dark:text-gray-600 sm:size-4") }}
                    </div>
                    <button type="submit" class="flex shrink-0 items-center gap-x-1.5 rounded-r-md px-3 py-2 text-xl md:text-lg font-semibold outline-1 -outline-offset-1 outline-indigo-600 focus:relative focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 bg-indigo-600 hover:bg-indigo-500 text-white">Scan</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

      <div class="lg:col-span-4 md:col-span-1 bg-white dark:bg-[#171e21] shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
        <div class="px-4 py-5 sm:p-6 mt-0 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle px-4 sm:px-6 lg:px-8">

              <div class="px-0">
                <h2 class="text-2xl font-semibold leading-6 text-gray-900 dark:text-gray-100" id="http-header">HTTP versions <a href="#http-header" class="text-gray-300 dark:text-gray-700 no-underline hover:underline" title="Link directly to this section.">#</a></h2>
                <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
                  <a href="/learning/http-version/" class="text-sm">Learn how to interpret HTTP version results…</a>
                </p>
              </div>

              <div class="min-w-full py-4" id="http-versions"></div>

            </div>
          </div>
        </div>
      </div>

      <div class="lg:col-span-4 md:col-span-1 bg-white dark:bg-[#171e21] shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
        <div class="px-4 py-5 sm:p-6 mt-0 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle px-4 sm:px-6 lg:px-8">

              <div class="px-0">
                <h2 class="text-2xl font-semibold leading-6 text-gray-900 dark:text-gray-100" id="tls-header">TLS and cipher suites <a href="#tls-header" class="text-gray-300 dark:text-gray-700 no-underline hover:underline" title="Link directly to this section.">#</a></h2>
                <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
                  <a href="/learning/recommended-cipher-suites/" class="text-sm">Learn how to interpret TLS and cipher suite results…</a>
                </p>
              </div>

              <div class="min-w-full py-4" id="tls-versions"></div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
{{ end }}

{{ define "scripts" }}
{{ $js := resources.Get "js/index.js" | fingerprint "sha256" }}<script src="{{ $js.Permalink }}" type="module" integrity="{{ $js.Data.Integrity }}"></script>

<script>
  window.apiHostname = '{{ .Site.Params.apiHostname | safe.URL }}';
</script>
{{ end }}

{{ define "footer" }}
  {{ partial "body/_footer.html" . }}
{{ end }}
