{{/* https://realfavicongenerator.net */}}
<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicons/favicon.svg" />
<link rel="shortcut icon" href="/images/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="devsec.tools" />
<link rel="manifest" href="/images/favicons/site.webmanifest" />

{{/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color */}}
{{/* https://oklch.com/#51.1,0.262,276.966003,100 */}}
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#4f39f6" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#171e21" />
