<div class="relative my-8 overflow-auto bg-blue-100 p-4 dark:bg-black md:p-8 lg:p-8">
  {{/* Start define grid. */}}
  <div class="max-w-5xl text-sm md:grid md:grid-cols-4 md:gap-4 lg:mx-auto lg:grid lg:grid-cols-4 lg:gap-4">
    {{/* Start grid row. */}}
    <section>
      <div class="p-4 hidden md:block lg:block">
        <img src="/images/rp2023-cover@2x.png" class="mx-auto block w-60 max-w-full object-cover" alt="Front cover of the Federal Probation Bible." />
      </div>
    </section>
    <section class="md:col-span-3 lg:col-span-3">
      <div class="p-4 text-xl text-gray-600 dark:text-gray-400">
        <h2 class="font-semibold uppercase leading-6 tracking-wide text-sky-700 dark:text-sky-400">A deep dive into</h2>
        <h3 class="mt-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">Federal Supervision</h3>
        <p class="py-2 leading-6">The Federal Probation Bible is a deep look into federal probation that answers the questions that inmates have before leaving prison.</p>
        <ul role="list" class="list-disc space-y-2 py-2 pl-6">
          <li>What kind of P.O. can I get, and what are the pros and cons of each one?</li>
          <li>What can I expect in the ﬁrst few days of probation?</li>
          <li>What about the ﬁrst year of probation?</li>
          <li>How can I get early termination from supervision?</li>
        </ul>
        <p class="py-2 leading-6">All of these questions — and more — are answered inside.</p>
        <p class="py-2 leading-6">Author E.M. Baird is on the forefront of all things related to federal supervision, and has dealt exclusively with federal probation and supervised release clients since 2009.</p>
        <p class="py-2 leading-6">This book can save you <strong>thousands of dollars in attorney’s fees</strong> by helping you stay out of trouble during probation, and ensuring you know exactly what it takes to get early termination.</p>
      </div>
    </section>
    {{/* End grid row. */}}
  </div>
  {{/* End define grid. */}}
</div>
