<div class="relative my-0 mb-8 overflow-auto p-4 md:p-8 lg:my-8 lg:p-8">
  {{/* Start define grid. */}}
  <div class="max-w-5xl text-sm md:grid md:grid-cols-4 md:gap-4 lg:mx-auto lg:grid lg:grid-cols-4 lg:gap-4">
    {{/* Start grid row. */}}
    <section class="md:col-span-4 lg:col-span-4">
      <div class="pb-4 leading-6 lg:p-4">
        {{/* Start intro headers. */}}
        <div>
          <h1 class="mt-1 text-center text-3xl font-semibold text-gray-900 dark:text-gray-100 sm:text-5xl sm:tracking-tight md:text-5xl md:font-extrabold lg:text-6xl lg:font-extrabold">Federal Probation Bible</h1>
          <h2 class="mt-1 text-center text-2xl font-semibold text-sky-700 dark:text-sky-400 sm:text-3xl sm:tracking-tight lg:text-4xl">Take ownership of your probation.</h2>
        </div>
        {{/* End intro headers. */}}

        {{/* Start small CTA. */}}
        <div class="mx-auto mt-5 max-w-4xl md:hidden lg:hidden">
          <img src="/images/rp2023-cover@2x.png" class="mx-auto block w-60 max-w-full object-cover" alt="Front cover of the Federal Probation Bible." />
        </div>
        {{/* End small CTA. */}}

        {{/* Start buy button */}}
        <div class="container content-center text-center md:hidden lg:hidden">
          <a href="/buy" class="text-shadow mt-8 inline-flex items-center rounded-md border-2 border-blue-600 bg-gradient-to-b from-sky-600 to-blue-600 px-16 py-3 text-2xl font-medium text-white shadow-xl hover:border-blue-500 hover:from-sky-500 hover:to-blue-600">Buy now!</a>
        </div>
        {{/* End buy button */}}

        {{/* Start intro paragraphs. */}}
        <div class="mx-auto mt-5 max-w-4xl text-xl text-gray-600 dark:text-gray-400 lg:text-2xl">
          <p class="py-2">
            <em>Introducing the <b class="font-bold text-black dark:text-gray-100">Federal Probation Bible</b></em>
            — the gold standard in explaining federal probation, from day one to early termination.
          </p>
          <p class="py-2">Probationers, supervisees, families, friends, loved ones, lawyers, and citizens should read this book. It dives deeply into the requirements of federal supervision so that you know everything you’re supposed to do, and everything a probation officer is/isn’t allowed to do. You’re still a citizen, and you still have rights.</p>
          <p class="py-2">Keep this book with you when you leave prison and start federal supervision. It is a daily reference text that will become very valuable when considering what to say (and what not to say) to your probation officer.</p>

          {{/* Start buy button */}}
          <div class="container hidden content-center text-center md:block lg:block">
            <a href="/buy" class="text-shadow mt-8 inline-flex items-center rounded-md border-2 border-blue-600 bg-gradient-to-b from-sky-600 to-blue-600 px-16 py-3 text-2xl font-medium text-white shadow-xl hover:border-blue-500 hover:from-sky-500 hover:to-blue-600">Buy now!</a>
          </div>
          {{/* End buy button */}}
        </div>
        {{/* End intro paragraphs. */}}
      </div>
    </section>
    {{/* End grid row. */}}
  </div>
  {{/* End define grid. */}}
</div>
