@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  /* https://github.com/tailwindlabs/tailwindcss-typography */
  #tmpl-single {
    @apply prose dark:prose-invert mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 prose-p:text-base/6 prose-p:py-2 prose-p:m-0 prose-a:underline-offset-3 prose-a:decoration-dotted prose-a:hover:decoration-solid prose-a:hover:text-indigo-700 prose-a:dark:hover:text-indigo-300
  }

  #tmpl-single h2 {
    @apply m-0 mt-6 first:mt-0 py-1
  }

  #tmpl-single #content h2 {
    @apply m-0 mt-6 first:mt-0 py-2 my-2 block border-solid border-b-2 border-gray-200 dark:border-gray-700
  }

  #tmpl-single h3 {
    @apply m-0 mt-4 mb-1 py-1
  }

  #tmpl-single #content h3 {
    font-size: 1.35em;
  }

  #tmpl-single ol,
  #tmpl-single ul {
    @apply my-1
  }

  #tmpl-single li {
    @apply m-0
  }

  #tmpl-single code {
    @apply before:content-none after:content-none inline-flex items-baseline ring-1 ring-inset rounded-md py-1 px-2 text-sm font-semibold text-ellipsis overflow-hidden ring-slate-200 dark:ring-slate-700 bg-slate-50 dark:bg-slate-950 text-indigo-700 dark:text-indigo-300;
  }

  #tmpl-single h2 > ul:first-child,
  #tmpl-single h2 > ol:first-child {
    @apply mb-3
  }

  #tmpl-single h3 > ul:first-child,
  #tmpl-single h3 > ol:first-child {
    @apply mb-2
  }

  #tmpl-single blockquote {
    @apply my-1 p-4 bg-gray-100 dark:bg-black border-l-blue-700 dark:border-l-blue-300 border-l-4
  }

  #tmpl-single blockquote p {
    @apply mt-1 text-sm/5 text-gray-500 dark:text-gray-300 not-italic font-normal
  }

  #tmpl-single blockquote.alert {
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    padding: 1rem;
    margin: 1rem 0;
  }

  #tmpl-single blockquote.alert p::before,
  #tmpl-single blockquote.alert p::after {
    content: "";
  }

  #tmpl-single blockquote.alert p {
    @apply m-0 py-1
  }

  #tmpl-single blockquote.alert p.alert-heading {
    @apply text-base/4 font-semibold py-2 px-0 m-0
  }

  #tmpl-single blockquote.alert.alert-caution {
    @apply bg-rose-50 dark:bg-rose-900 border-rose-700
  }

  #tmpl-single blockquote.alert.alert-caution p {
    @apply text-rose-700 dark:text-white
  }

  #tmpl-single blockquote.alert.alert-important {
    @apply bg-fuchsia-50 dark:bg-fuchsia-900 border-fuchsia-700
  }

  #tmpl-single blockquote.alert.alert-important p {
    @apply text-fuchsia-700 dark:text-white
  }

  #tmpl-single blockquote.alert.alert-note {
    @apply bg-blue-50 dark:bg-blue-900 border-blue-700
  }

  #tmpl-single blockquote.alert.alert-note p {
    @apply text-blue-700 dark:text-white
  }

  #tmpl-single blockquote.alert.alert-tip {
    @apply bg-emerald-50 dark:bg-emerald-900 border-emerald-700
  }

  #tmpl-single blockquote.alert.alert-tip p {
    @apply text-emerald-700 dark:text-white
  }

  #tmpl-single blockquote.alert.alert-warning {
    @apply bg-amber-50 dark:bg-amber-900 border-amber-700
  }

  #tmpl-single blockquote.alert.alert-warning p {
    @apply text-amber-700 dark:text-white
  }

  #tmpl-single div.footnotes * {
    @apply mt-1 text-sm/6 text-gray-500 not-italic font-normal
  }

  #tmpl-single div.footnotes hr {
    display: none;
  }
}

@utility emoji {
  @apply inline-block m-0 p-0 max-w-none object-scale-down h-[1rem] align-middle;
}

@utility table-question-mark {
  @apply h-5 w-5 inline-block text-blue-700 dark:text-blue-300;
}

@utility configure-apple {
  @apply h-3 w-3 fill-black dark:fill-white inline-block align-baseline;
}

@utility configure-windows {
  @apply h-3 w-3 fill-[#0078d4] dark:fill-white inline-block align-baseline;
}

@utility configure-css {
  @apply h-3 w-3 fill-[#663399] dark:fill-white inline-block align-baseline;
}

/***************************** SCAN RESULTS TABLE *****************************/

@utility ui-table {
  @apply min-w-full divide-y divide-gray-300 dark:divide-gray-700;
}

@utility ui-table-section {
  @apply divide-y divide-gray-200 dark:divide-gray-800;
}

@utility ui-thead-tr {
  @apply border-t border-gray-200 dark:border-gray-800;
}

@utility ui-thead-th {
  @apply bg-gray-100 dark:bg-black py-2 text-left text-sm font-semibold text-gray-900 dark:text-gray-100;
}

@utility ui-tbody-td-key {
  @apply py-2 text-sm text-gray-500 dark:text-gray-100 sm:w-2/5 block sm:table-cell;
}

@utility ui-tbody-td-value {
  @apply py-2 text-sm font-medium text-gray-900 sm:w-3/5 block sm:table-cell;
}

/***************************** REUSABLE UI ELEMENTS *****************************/

@utility ui-link {
  @apply text-indigo-600 hover:text-blue-400 underline decoration-dotted hover:decoration-solid underline-offset-4;
}

@utility code {
  &code {
    @apply inline-flex items-baseline ring-1 ring-inset rounded-md py-1 px-2 text-xs font-semibold text-ellipsis overflow-hidden ring-gray-200 dark:ring-gray-700;
  }
}

/***************************** BADGES *****************************/

@utility ui-badge-wrap {
  @apply inline-flex items-baseline rounded-full pl-2 pr-2.5 py-1 text-sm font-medium md:mt-2 lg:mt-0 ring-1 ring-inset mr-1 mb-1.5 sm:mb-0;
}

@utility ui-badge-svg {
  @apply -ml-1 mr-0.5 h-5 w-5 shrink-0 self-center inline;
}

@utility ui-badge-neutral-wrap {
  @apply bg-gray-100 dark:bg-gray-600 text-gray-700 dark:text-gray-100 ring-gray-200 dark:ring-gray-700;
}

@utility ui-badge-neutral-svg {
  @apply text-gray-500 dark:text-gray-100;
}

@utility ui-badge-success-wrap {
  @apply bg-green-100 dark:bg-green-600 text-green-700 dark:text-green-100 ring-green-200 dark:ring-green-700 mr-1;
}

@utility ui-badge-success-svg {
  @apply text-green-600 dark:text-green-100;
}

@utility ui-badge-alert-wrap {
  @apply bg-orange-100 dark:bg-orange-500 text-orange-600 dark:text-orange-100 ring-orange-200 dark:ring-orange-700 mr-1;
}

@utility ui-badge-alert-svg {
  @apply text-orange-400 dark:text-orange-100;
}

@utility ui-badge-error-wrap {
  @apply bg-red-100 dark:bg-red-600 text-red-600 dark:text-red-100 ring-red-200 dark:ring-red-700 mr-1;
}

@utility ui-badge-error-svg {
  @apply text-red-600 dark:text-red-100;
}

@utility ui-badge-tip-wrap {
  @apply bg-blue-100 text-blue-700 ring-blue-200 mr-1;
}

@utility ui-badge-tip-svg {
  @apply text-blue-600;
}

@utility ui-badge-indigo-wrap {
  @apply bg-indigo-100 text-indigo-700 ring-indigo-200 mr-1;
}

@utility ui-badge-indigo-svg {
  @apply text-indigo-600;
}

@utility ui-badge-highlight-wrap {
  @apply bg-amber-100 dark:bg-amber-500 text-amber-600 dark:text-amber-100 ring-amber-200 dark:ring-amber-700;
}

@utility ui-badge-highlight-svg {
  @apply text-amber-600 dark:text-amber-100;
}

/***************************** OTHER *****************************/

@utility animate-flip-in-x {
  backface-visibility: visible !important;
}

@utility text-shadow {
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

@utility text-shadow-none {
  text-shadow: none;
}
