<footer class="bg-white dark:bg-black shadow-inner dark:shadow-none shadow-slate-100 dark:shadow-slate-900 border-t-2" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-10 sm:py-12 lg:px-8">
    <nav class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6" aria-label="Footer">
      <a href="/about/" class="text-black dark:text-white font-semibold underline underline-offset-2">About</a>
      {{/* <a href="#" class="text-black dark:text-white font-semibold underline underline-offset-2">Blog</a> */}}
      {{/* <a href="#" class="text-black dark:text-white font-semibold underline underline-offset-2">Source</a> */}}
    </nav>
    <div class="mt-14 flex justify-center gap-x-2 sm:gap-x-4 md:gap-x-6 lg:gap-x-10">

    {{ $data := $.Site.Data.social }}
    {{ range $data -}}
      <a href="{{ .profile | safeURL }}" type="{{ .type }}" rel="{{ .rel }}" title="{{ .service }}" class="fill-[#9ca3af] dark:fill-gray-700">
        <span class="sr-only">{{ .service }}</span>
        {{ partial (printf "svg/logo/%s.svg" .simpleicon) (dict "class" "h-6 w-6") }}
      </a>
    {{ end -}}

    </div>
    <p class="mt-8 text-center text-sm/6 text-gray-600 dark:text-gray-400">&copy; {{ $.Param "copyrightStart" }}-{{ now.Format "2006" }} <a href="{{ $.Param "copyrightURL" }}" class="text-black dark:text-white font-semibold underline underline-offset-2">{{ $.Param "copyrightEntity" }}</a>. Apache 2.0 licensed.</p>
  </div>
</footer>
