<nav class="bg-gray-800">
  <div class="mx-auto max-w-5xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      {{/* Mobile menu */}}
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        {{/* Mobile menu button */}}
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" id="mobile-menu-button">
          <span class="sr-only">Open main menu</span>

          <div class="h-6 w-6">
            {{ partial "svg/hamburger-close.svg" . }}
            {{ partial "svg/hamburger.svg" . }}
          </div>
        </button>
      </div>

      {{/* Navigation menu items */}}
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="block h-8 w-auto" src="/images/pcr-publishing.svg" alt="PCR Publishing" />
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex md:space-x-4 lg:space-x-4">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
              {{/* If the current menu is "main", or if the page has a menu identifier of "main"... */}}
              <a
                {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
                  aria-current="page" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                {{- else -}}
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                {{- end }}
                href="{{ .URL }}"
                title="{{ .Title }}"
                >{{ .Name }}</a
              >
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>

  {{/* Mobile menu, show/hide based on menu state */}}
  <div class="hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{/* If the current menu is "main", or if the page has a menu identifier of "main"... */}}
        <a
          {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
            aria-current="page" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
          {{- else -}}
            class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          {{- end }}
          href="{{ .URL }}"
          title="{{ .Title }}"
          >{{ .Name }}</a
        >
      {{ end }}

    </div>
  </div>
</nav>
