{{- $isApi := (eq .Section "api") -}}
{{- $isScan := (eq .Section "scan") -}}
{{- $isLearning := or (eq .Section "learning") (eq .Section "vulns") (eq .Section "classes") (eq .Section "years") -}}

{{/* TOP NAVIGATION BAR */}}
<nav class="bg-indigo-600">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-8 w-8" src="https://github.com/northwood-labs/branding/raw/refs/heads/main/NWL-Favicon-NoCirc-Color.svg" alt="devsec.tools">
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            {{/* Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" */}}
            <a href="/"         class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if .IsHome     -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if .IsHome     -}}aria-current="page"{{ end -}}>Home</a>
            <a href="/scan"     class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if $isScan     -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if $isScan     -}}aria-current="page"{{ end -}}>Scan</a>
            <a href="/api"      class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if $isApi      -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if $isApi      -}}aria-current="page"{{ end -}}>API</a>
            <a href="/learning" class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if $isLearning -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if $isLearning -}}aria-current="page"{{ end -}}>Learning</a>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        {{/* Mobile menu button */}}
        <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-indigo-600 p-2 text-indigo-200 hover:bg-indigo-500 hover:bg-opacity-75 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          {{/* Menu open: "hidden", Menu closed: "block" */}}
          {{ partial "heroicons/solid/bars-3.svg" (dict "class" "block h-6 w-6") }}
          {{/* Menu open: "block", Menu closed: "hidden" */}}
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  {{/* Mobile menu, show/hide based on menu state. */}}
  <div class="md:hidden bg-indigo-600" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      {{/* Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" */}}
      <a href="/"         class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if .IsHome     -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if .IsHome     -}}aria-current="page"{{ end -}}>Home</a>
      <a href="/scan"     class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if $isScan     -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if $isScan     -}}aria-current="page"{{ end -}}>Scan</a>
      <a href="/api"      class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if $isApi      -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if $isApi      -}}aria-current="page"{{ end -}}>API</a>
      <a href="/learning" class="text-white rounded-md px-3 py-2 text-sm font-medium {{ if $isLearning -}}bg-indigo-700{{ else -}}hover:bg-indigo-500 hover:bg-opacity-75{{ end -}}" {{ if $isLearning -}}aria-current="page"{{ end -}}>Learning</a>
    </div>
  </div>

</nav>
