{{- $root := . -}}
{{- $pages := slice -}}
{{- $tls := $.context.Site.GetPage "/learning/tls" -}}

{{- range $tls.Data.Pages -}}
  {{- $page := $.context.Site.GetPage .Path -}}
  {{- $vulns := $page.Param "vulns" -}}

  {{- range $vulns -}}
    {{- if eq . $root.leaf -}}
      {{- $pages = $pages | append $page -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $pages -}}
<h2 id="affected-cipher-suite-classes">Affected cipher suite classes</h2>
<ul>
  {{- range $page := $pages -}}
    <li><a href="{{- $page.Path -}}">{{- $page.LinkTitle -}}</a><br>
      <span class="text-sm text-gray-600 dark:text-gray-400">{{- $page.Description -}}</span></li>
  {{- end -}}
</ul>
{{- end -}}
