{{- $gbb := $.Params.good_better_best -}}
{{- if $gbb -}}
<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <dl class="mt-5 grid grid-cols-1 divide-y divide-gray-200 dark:divide-gray-800 overflow-hidden rounded-lg bg-white dark:bg-[#171e21] md:grid-cols-3 md:divide-x md:divide-y-0 shadow-sm ring-1 ring-gray-900/5">

    {{- range $section := $gbb -}}
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-2xl font-semibold text-indigo-600 dark:text-yellow-300">{{- $section.title -}}</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-lg font-normal text-gray-900 dark:text-gray-100">
          <p>{{- $section.description | safeHTML -}}</p>
        </div>
      </dd>
    </div>
    {{- end -}}

  </dl>
</div>
{{- end -}}
